@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.photo:nth-child(2) {
  display: none;
}

.photo:nth-child(5) {
  display: none;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 25em) {

  .photo:nth-child(2), .photo:nth-child(3) {
    width: 50%;
    display: block;
  }

  .photo:nth-child(4), .photo:nth-child(5) {
    width: 50%;
    display: block;
  }

}

@media only screen and (min-width: 38em) {

  .photo:nth-child(5) {
    display: none;
  }

  .photo:nth-child(2), .photo:nth-child(3), .photo:nth-child(4) {
    width: 33.3333%;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .photo:nth-child(1) {
    width: 66.6666%;
  }

  .photo:nth-child(1), .photo:nth-child(2) {
    display: inline-block;
  }

  .photo:nth-child(3), .photo:nth-child(4), .photo:nth-child(5) {
    width: 33.3333%;
    display: block;
  }

}
